<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
	<!-- th:with => Alias 설정, c:set과 같은 기능 -->
	<!-- th:with는 적용 시키는 범위를 잡아줘야 한다. -->
	<th:block th:with="bvo=${bdto.bvo}">
		<div class="container-md">
		
			<br>			
			<form action="/board/modify" method="post" id="modForm" enctype="multipart/form-data">
				<div class="input-group mb-3">
				  <span class="input-group-text" id="modAtSpan">ModAt</span>
				  <input type="text" class="form-control" name="modAt" th:value="${bdto.bvo.modAt}" aria-label="title" aria-describedby="modAtSpan" readonly>
				</div>
				<div class="input-group mb-3">
				  <span class="input-group-text" id="titleSpan">Title</span>
				  <input type="text" class="form-control" id="title" name="title" th:value="${bdto.bvo.title}" aria-label="title" aria-describedby="titleSpan" readonly>
				</div>
				<div class="input-group mb-3">
				  <span class="input-group-text" id="writerSpan">Writer</span>
				  <input type="text" class="form-control" name="writer" th:value="${bdto.bvo.writer}" aria-label="writer" aria-describedby="writerSpan" readonly>
				</div>
				<div class="input-group">
				  <span class="input-group-text">Content</span>
				  <textarea class="form-control" id="content" name="content" aria-label="With textarea" readonly>[[${bdto.bvo.content}]]</textarea>
				</div>
				<br>
				<div class="input-group" id="DivBtn">
					<!-- <a href="/board/list"><button type="button" class="btn btn-primary" id="listBtn">BoardList</button></a> -->
					<button type="button" class="btn btn-primary" id="listBtn">BoardList</button>
					
					<!-- detail page에서 modify page 상태로 변경하기 위한 버튼 -->
					<!-- 버튼 하나를 생성하여 수정을 완료하는 버튼으로 사용 -->
					<button type="button" class="btn btn-success" id="modBtn">Modify</button>
					
					<!-- 파라미터를 전송해야 할 때는 th:href 형식으로 작성해야 한다. -->
					<!-- <a th:href="@{/board/delete(bno=${bvo.bno})}"><button type="button" class="btn btn-danger" id="delBtn">Delete</button></a> -->
					<button type="button" class="btn btn-danger" id="delBtn">Delete</button>
				</div>
				
				<input type="hidden" name="bno" th:value="${bdto.bvo.bno}">
				
				<!-- 새로운 file upload 등록 라인 -->
				<div class="mb-3">
				  <label for="files" class="form-label">files...</label>
				  <input type="file" name="files" class="form-control" id="files" multiple="multiple" style="display: none">
				  <!-- <input type="file">태그는 모양을 변화시킬 수 없으므로 트리거를 활용하여 다양한 모양으로 버튼을 만들 수 있음 -->
				  <br>
				  <button type="button" class="btn btn-primary" id="trigger">fileUpload</button>
				  <!-- 트리거를 사용하기 위한 버튼 -->
				</div>
				<!-- 파일 목록 표기 라인 -->
				<div class="mb-3" id="fileZone">
					<!-- 첨부 파일이 표시될 영역 -->
				</div>
				<input type="hidden" id="regBtn">
				<!-- file upload 라인 끝 -->
				
			</form>
			<hr>
		
			<!-- Comment 라인 -->
			<div>
				<!-- 댓글 등록 라인 -->
				<div class="input-group mb-3">
				  <span class="input-group-text" id="cmtWriter">Anonymous</span>
				  <input type="text" id="cmtText" class="form-control" placeholder="Add Comment" aria-label="Username" aria-describedby="basic-addon1">
				  <button type="button" id="cmtPostBtn" class="btn btn-primary">Comment Post</button>
				</div>
				<!-- 댓글 표시 라인 (layout)-->
				<ul class="list-group list-group-flush" id="cmtListArea">
				  <li class="list-group-item">
				  	<div class="ms-2 me-auto">
				  		<div class="fw-bold">Writer</div>
				  		Content for Comment
				  		<span>modAt</span>
				  	</div>
				  </li>
				</ul>
			</div>
			
			<!-- More 라인 -->
			<div class="row">
				<div class="col d-gird">
					<button type="button" id="moreBtn" class="btn btn-primary"
						data-page="1" style="visibility: hidden;">
						More +
					</button>
				</div>
			</div>
			
			<!-- 모달창 라인 -->			
			<div class="modal" tabindex="-1" id="myModal">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">Comment Modify</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        <div class="input-group mb-3">
							  <input type="text" id="cmtTextModal" class="form-control" placeholder="Add Comment" aria-label="Username" aria-describedby="basic-addon1">
							  <button type="button" id="cmtModalBtn" class="btn btn-primary">수정 완료</button>
							</div>
			    	</div>
			  	</div>
				</div>
			</div>
			
			<!-- 파일 표시 라인 -->
			<div class="mb-3">
				<ul class="list-group list-group-flush">
			  	<li class="list-group-item" th:each="fvo:${bdto.flist}">
			  		<div th:if="${fvo.fileType > 0}">
				  		<img alt="" th:src="@{|/upload/${fvo.saveDir}/${fvo.uuid}_th_${fvo.fileName}|}">
				  	</div>
				  	<div th:unless="${fvo.fileType > 0}">
				  	<!-- 파일 모양 아이콘 -->
				  	(파일 모양 아이콘)
				  	</div>
				  	<div class="mb-2 me-auto">
					  	<div class="fw-bold">[[${fvo.fileName}]]</div>
					  	[[${fvo.regAt}]]
					  	<span class="badge rounded-pill text-bg-primary">[[${fvo.fileSize}]]Byte</span>
			  		</div>
			  	</li>	
				</ul>
			</div>	
			<!-- 파일 표시 라인 끝 -->
			
			<!-- 데이터를 숨겨서 Form 태그 정보를 보내고 싶을 때 사용 방법 -->
			<form action="/board/delete" method="post" id="delForm" style="display: none;">
				<input type="hidden" name="bno" th:value="${bdto.bvo.bno}">
			</form>
			
			<!-- static이 default 경로임 -->
			<script type="text/javascript" th:inline="javascript">
				const bnoVal = [[${bdto.bvo.bno}]];
				console.log('bno : ', bnoVal);
			</script>
			
			<script type="text/javascript" th:src="@{/js/boardDetail.js}"></script>
			<script type="text/javascript" th:src="@{/js/boardComment.js}"></script>
			<script type="text/javascript" th:src="@{/js/boardRegister.js}"></script>
			
			<script type="text/javascript">
				spreadCommentList(bnoVal);
			</script>
		
		</div> <!-- class="container-md" -->
	</th:block>	<!-- th:with="bvo=${bdto.bvo}" -->
	</th:block> <!--/* th:fragment */-->
</th:block> <!--/* th:replace */-->