<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
	<th:block th:fragment="content">
		<div class="container-md">
		
			<br>
			<form action="/board/modify" method="post" id="modForm">
				<div class="input-group mb-3">
				  <span class="input-group-text" id="modAtSpan">ModAt</span>
				  <input type="text" class="form-control" name="modAt" th:value="${bvo.modAt}" aria-label="title" aria-describedby="modAtSpan" readonly>
				</div>
				<div class="input-group mb-3">
				  <span class="input-group-text" id="titleSpan">Title</span>
				  <input type="text" class="form-control" id="title" name="title" th:value="${bvo.title}" aria-label="title" aria-describedby="titleSpan" readonly>
				</div>
				<div class="input-group mb-3">
				  <span class="input-group-text" id="writerSpan">Writer</span>
				  <input type="text" class="form-control" name="writer" th:value="${bvo.writer}" aria-label="writer" aria-describedby="writerSpan" readonly>
				</div>
				<div class="input-group">
				  <span class="input-group-text">Content</span>
				  <textarea class="form-control" id="content" name="content" aria-label="With textarea" readonly>[[${bvo.content}]]</textarea>
				</div>
				<br>
				<div class="input-group" id="DivBtn">
					<!-- <a href="/board/list"><button type="button" class="btn btn-primary" id="listBtn">BoardList</button></a> -->
					<button type="button" class="btn btn-primary" id="listBtn">BoardList</button>
					
					<!-- detail page에서 modify page 상태로 변경하기 위한 버튼 -->
					<!-- 버튼 하나를 생성하여 수정을 완료하는 버튼으로 사용 -->
					<button type="button" class="btn btn-success" id="modBtn">Modify</button>
					
					<!-- 파라미터를 전송해야 할 때는 th:href 형식으로 작성해야 한다. -->
					<!-- <a th:href="@{/board/delete(bno=${bvo.bno})}"><button type="button" class="btn btn-danger" id="delBtn">Delete</button></a> -->
					<button type="button" class="btn btn-danger" id="delBtn">Delete</button>
				</div>
				
				<input type="hidden" name="bno" th:value="${bvo.bno}">
			</form>
			<hr>
		
			<!-- Comment 라인 -->
			<div>
				<!-- 댓글 등록 라인 -->
				<div class="input-group mb-3">
				  <span class="input-group-text" id="cmtWriter">Anonymous</span>
				  <input type="text" id="cmtText" class="form-control" placeholder="Add Comment" aria-label="Username" aria-describedby="basic-addon1">
				  <button type="button" id="cmtPostBtn" class="btn btn-primary">Comment Post</button>
				</div>
				<!-- 댓글 표시 라인 -->
				<ul class="list-group list-group-flush" id="cmtListArea">
				  <li class="list-group-item">
				  	<div class="ms-2 me-auto">
				  		<div class="fw-bold">Writer</div>
				  		Content for Comment
				  	</div>
				  </li>
				</ul>
			</div>
			
			<!-- 데이터를 숨겨서 Form 태그 정보를 보내고 싶을 때 사용 방법 -->
			<form action="/board/delete" method="post" id="delForm" style="display: none;">
				<input type="hidden" name="bno" th:value="${bvo.bno}">
			</form>
			
		<!-- static이 default 경로임 -->
		<script type="text/javascript" th:inline="javascript">
			const bnoVal = `[[${bvo.bno}]]`;
		</script>
		
		<script type="text/javascript" th:src="@{/js/boardDetail.js}"></script>
		<script type="text/javascript" th:src="@{/js/boardComment.js}"></script>
		
		</div> <!-- class="container-md" -->
	</th:block> <!--/* th:fragment */-->
</th:block> <!--/* th:replace */-->