<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="setFragment(content)">
<head>
<meta charset="UTF-8">
<title>Spring Boot Practice</title>
<!-- 외부의 링크에 연결하지 않고 Project 내부에 실질적인 파일을 가지고 있는 것이 안정성이 보장된다. -->
<link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{/dist/js/bootstrap.min.js}"></script>
</head>
<body>

<!-- header Line -->
<h1>Header</h1>
<h1>My Spring Boot Project</h1>
<div class="mt-4 p-5 bg-light text-black rounded text-center text-center" style="margin-bottom:0">
  <p>Spring Boot makes it easy to create stand-alone,
    production-grade Spring based Applications that you can "just run".</p>
</div>

<!-- nav Line -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/list">BoardList</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/register">Register</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/member/register">Sign Up</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/member/login">Login</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
          <a class="nav-link" href="#">MemberList</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/member/logout">Logout</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
        	<!-- <a class="nav-link" th:href="@{/member/modify}" th:text="${#authentication.name}"></a> -->
          <a class="nav-link" th:href="@{/member/modify}"
          th:with="auth=${#authentication.getPrincipal()}"
          th:text="${auth.mvo.nickName}"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- content Line -->
<div class="container-fluid">
	<th:block th:replace="${content}"></th:block>
</div>

<!-- footer Line -->
<h1>Footer</h1>
<div class="mt-4 p-5 bg-light text-black rounded text-center text-center" style="margin-bottom:0">
  <p>Copyright 2021 by Company or Your Name. All Rights Reserved.</p>
</div>

</body>
</th:block>
</html>